@import "bootstrap/variables.less";

textarea.form-control {
  resize: vertical;
}

span.answer {
  &.answer--correct {
    color: @brand-primary;
  }
  &.answer--incorrect {
    color: @brand-danger;
  }
}