@import "klavika";

@import "bootstrap/bootstrap";
@import "bootstrap-social";
@import "~font-awesome/less/font-awesome";

@import "manhattan";
@import "landing";

@import "game";
@import "player";



h1, h2, h3, h4, h5{
  margin-top: 0;
  font-family: Klavika;
  font-weight: 700;
}

h3.title-delimiter {
  width:100%;
  text-align:center;
  border-bottom: 1px solid #000;
  line-height:0.1em;
  margin:10px 0 20px;
  font-weight: normal;
  font-size: 15px;
  span {
    padding:0 10px;
    background: @brand-extra-light;
  }
}
.btn-center-text {
  text-align: center !important;
}

.margin-t-20 {
  margin-top: 20px;
}

@import "game-result";

//@import "game-pause";
//@import "game-level";

