
.ribbon-title {
  margin: 20px auto;
  padding:10px 0;
  line-height: 34px;
  position: relative;
  user-select: none;
  color: #fff;
  width:90%;
  outline:none;
  background: @brand-primary;
  outline-color: transparent;
  &:before, &:after {
    top: 7px;
    z-index: -10;
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 0;
    outline: none;
  }
  &:after {
    border-color: darken(@brand-primary, 20%) transparent darken(@brand-primary, 20%) darken(@brand-primary, 20%);
    right: -35px;
    border-width: 27px;
  }
  &:before {
    border-color: darken(@brand-primary, 20%) darken(@brand-primary, 20%) darken(@brand-primary, 20%) transparent;
    left: -35px;
    border-width: 27px;
  }
}

.result-table {
  &:first-child {
    margin-top: 25px;
  }
  margin-bottom: 10px;
}
@media (min-width: @screen-sm) {
  .ribbon {
    margin-bottom: 20px;
  }
  &:last-child { margin-bottom: 0 }
}
.ribbon {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 20px;
  margin: 20px auto 0 auto;
  border: 1px solid rgb(200, 200, 200);
  box-shadow: rgba(0, 0, 0, 0.1) 0 5px 5px 2px;
  background: #E4C054;
  border-radius: 4px;
  h3, h2, h1 {
    position:relative;
    padding:10px 30px;
    margin:0 -30px 20px;
    line-height:32px;
    font-weight:bold;
    text-align:center;
    color:#fff;
    background: @brand-primary;
    text-shadow:0 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);
    box-shadow:0 1px 1px rgba(0,0,0,0.2);
    zoom:1;
    &:before, &:after {
      content:"";
      position:absolute;
      z-index:-1;
      top:100%;
      left:0;
      border-width:0 10px 10px 0;
      border-style:solid;
      border-color:transparent darken(@brand-primary, 20%);
    }
    &:after {
      left:auto;
      right:0;
      border-width:0 0 10px 10px;
    }
  }


}