#game {
  margin: 0;
  padding: 0;

  #logo {
    position: fixed;
    left: 5vw;
    bottom: 25vh;
    z-index:100;
    img {
      width: 8rem;
      height: 8rem;
    }

    &:after {
      position: fixed;
      left: 13.5vw;
      bottom: 10vh;
      display: block;
      content: '';
      width: 1rem;
      height: 10rem;
      z-index: -1;
      background: #fff;
      //filter: drop-shadow(30px 10px 4px @gray-dark);
      box-shadow: inset 3px 0 5px @gray-dark;
    }
  }

  #player {
    position: fixed;
    bottom: 10vh;
    left: ~"calc(50vw - 50px)";
    z-index:1000;
  }

  #ground {
    height: 10vh;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: green;
    border-top: 5px solid brown;
  }

  #game-wrapper {
    //background: @brand-primary;
    position: fixed;

    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;

    margin: 0;
    padding: 0;

    #map {
      position: absolute;
      background: @brand-extra-light;
      top: 0;
      left: 0;

      display: flex;

      #map-inner {
        margin: auto;
        height: 60vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;

        padding: 0 2rem;

        #map-levels {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: wrap;

          a {
            border: 5px solid @brand-primary;
            width: 6rem;
            height: 6rem;

            border-radius: 3rem;

            display: flex;

            &.disabled {
              border: 5px solid @gray-lighter;
              color: @gray-light;
            }
          }



          span {
            margin: auto;
            font-family: 'Klavika';
            font-size: 3rem;
            font-weight: 500;
          }

        }

      }
    }

    #results {
      position: absolute;
      background: @brand-extra-light;
      top: 0;
      left: 0;
      height: 80vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      div{
        margin: auto;
      }

      .inner{
        height: 100%;
        overflow-y: scroll;
      }

      i{
        font-size: 5rem;

      }
    }

    .level {
      display: none;
      width: 100vw;
      height: 100vh;

      position: absolute;
      top: 0;
      left: 0;

      &.active {
        display: block;
      }

      .content {
        position: fixed;
        left: 0;
        top: 0;
        height: 90vh;
        display: flex;
        flex-direction: row;
        background: @brand-extra-light;

        .frame {
          height: 100%;
          width: 100vw;

          padding-bottom: 40vw;

          display: flex;
          flex-direction: column;
          justify-content: space-between;

          margin-right: 20rem;

          &:last-child {
            margin-right: 0;
          }

          div {
            margin: auto;
          }

          .billboard {
            border-radius: .5rem;
            width: 90vw;
            background: #fff;
            padding: 0.2rem;

            .inner {

              padding: 1rem;
              border-radius: .5rem;
              border: 0.3rem solid black;
              display: flex;
              justify-content: center;

            }

            h1 {
              font-size: 5rem;
              margin: 0;
            }

          }

          .text {
            border-radius: .5rem;
            width: 70vw;
            background: #fff;
            padding: 0.1rem;

            .inner {

              padding: 1rem;
              border-radius: .5rem;
              border: 0.3rem solid black;
              display: flex;
              justify-content: center;

            }

            p {
              font-size: 2rem;
              margin: 0;
            }
          }

          .funfact {
            border-radius: .5rem;
            width: 70vw;
            background: #fff;
            padding: 0.1rem;

            .inner {

              padding: 1rem;
              border-radius: .5rem;
              border: 0.3rem solid black;
              display: flex;
              flex-direction: column;
              justify-content: center;

            }
            h2 {
              font-size: 3rem;
              text-align: right;
              margin-bottom: 2rem;
            }
            p {
              font-size: 2rem;
              margin: 0;
            }
          }

          .btn-default {
            border-radius: .5rem;
            width: 70vw;
            background: #fff;
            padding: 0.2rem;
            border: none;

            span {

              padding: 1rem;
              border-radius: .5rem;
              border: 0.3rem solid black;
              display: flex;
              flex-direction: column;
              justify-content: center;

            }
          }
          .test {
            border-radius: .5rem;
            width: 70vw;
            background: #fff;
            padding: 0.1rem;

            .inner {

              padding: 1rem;
              border-radius: .5rem;
              border: 0.3rem solid black;
              display: flex;
              flex-direction: column;
              justify-content: center;

            }

            h3 {
              font-size: 2rem;
              text-align: right;
              margin-bottom: 2rem;
            }

            .options {
              text-align: left;
              width: 100%;
              padding: 0 1rem;
              label {
                font-weight: 300;
                display: block;

              }
            }
          }

        }
      }

    }

  }

}

@media (min-width: @screen-sm) {
  #game {
    #map {
      #map-inner {
        width: 50rem !important;
      }
    }
  }
}