

@font-face {
  font-family: 'Klavika';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/Klavika Light Italic.otf');
}

@font-face {
  font-family: 'Klavika';
  font-style: italic;
  font-weight: 400;
  src: url('../../fonts/Klavika Regular Italic.otf');
}

@font-face {
  font-family: 'Klavika';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/Klavika Medium Italic.otf');
}

@font-face {
  font-family: 'Klavika';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/Klavika Bold Italic.otf');
}


@font-face {
  font-family: 'Klavika';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Klavika Light.otf');
}

@font-face {
  font-family: 'Klavika';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Klavika Regular.otf');
}

@font-face {
  font-family: 'Klavika';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Klavika Medium.otf');
}

@font-face {
  font-family: 'Klavika';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Klavika Bold.otf');
}

