body#landing {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;

  .manhattan {
    height: 40vh;
    background: #87cefa;
  }
  .ground {
    height: 60vh;
    background: #41980a;
    position: relative;
    overflow: hidden;
    z-index: -1;
  }

  .ground .road {
    box-sizing: border-box;
    position: absolute;
    left: calc(50% - 20vw);
    top: -40%;
    margin: auto;
    width: 40vw;
    height: 120%;
    /*width: 100%;*/

    background: #2f2f2f;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    transform: perspective(5vw) rotateX(10deg);
    /*-webkit-transform: perspective(100px) rotateX(20deg);*/
  }

  .ground .road .line {
    width: .75rem;
    height: 100%;
    background: #d2b746;
  }

  .ground .road .line.middle {
    background: none;
  }

  .ground .road .line.middle.animate {
    animation-duration: .5s;
    animation-name: lineMove;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes lineMove {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(3rem);
    }
  }

  .ground .road .line.middle .chunk {
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
    background: #d2b746;
  }

  @keyframes billboardMove {
    0% {
      top: calc(40vh - 4.5rem - 0rem);
      transform: scale(0);
    }

    75% {
      top: calc(40vh - 4.5rem - 2.625rem);
      transform: scale(0.75);
    }
    100% {
      top: 50vh;
      transform: scale(1);
    }
  }

  .billboard {
    position: absolute;
    top: 60vh;
    left: 20vw;
    width: 60vw;
    display: inline-block;
    border-radius: .5rem;

    transform: scale(0);
    background: #fff;
    padding: 0.2rem;

    animation-name: billboardMove;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    .inner {

      padding: 1rem;
      border-radius: .5rem;
      border: 0.3rem solid black;
      display: flex;
      justify-content: center;

    }

    h1 {
      font-size: 5rem;
      margin: 0;
      font-family: Klavika;
    }

    @media (max-width: @screen-sm) {
      h1 {
        font-size: 3rem;
      }
    }

    img {
      width: 5rem;
      height: 5rem;
      margin-right: 2rem;
    }

  }

  #start-button {
    position: fixed;
    top: 80vh;
    left: 30vw;
    right: 30vw;
    animation: 2s showIn;
    animation-delay: 10s;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  @keyframes showIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1.0;
    }
  }

  #footer-left {
    position: fixed;
    bottom: 1vh;
    left: 3vw;
    color: #adadad;
    font-weight: bold;
  }

  #footer-right {
    position: fixed;
    bottom: 1vh;
    right: 3vw;
    color: #adadad;
    font-weight: bold;
  }

}


