.manhattan{
  position: relative;
}
.manhattan .m-b {
  position: absolute;
  bottom: 0;
  left: 0;
}
.manhattan .m-b.m-color-1 {
  background: #F5F5F5;
}
.manhattan .m-b.m-color-2 {
  background: #DCDCDC;
}
.manhattan .m-b.m-color-3 {
  background: #BEBEBE;
}
.manhattan .m-b.m-color-4 {
  background: #A9A9A9;
}
.manhattan .m-b.m-color-5 {
  background: #808080;
}
.manhattan .m-b.m-size-x-1 {
  width: 1.25%;
}
.manhattan .m-b.m-size-x-2 {
  width: 2.5%;
}
.manhattan .m-b.m-size-x-3 {
  width: 3.75%;
}
.manhattan .m-b.m-size-x-4 {
  width: 5%;
}
.manhattan .m-b.m-size-x-5 {
  width: 6.25%;
}
.manhattan .m-b.m-size-x-6 {
  width: 7.5%;
}
.manhattan .m-b.m-size-x-7 {
  width: 8.75%;
}
.manhattan .m-b.m-size-x-8 {
  width: 10%;
}
.manhattan .m-b.m-size-x-9 {
  width: 11.25%;
}
.manhattan .m-b.m-size-x-10 {
  width: 12.5%;
}
.manhattan .m-b.m-size-x-11 {
  width: 13.75%;
}
.manhattan .m-b.m-size-x-12 {
  width: 15%;
}
.manhattan .m-b.m-size-x-13 {
  width: 16.25%;
}
.manhattan .m-b.m-size-x-14 {
  width: 17.5%;
}
.manhattan .m-b.m-size-x-15 {
  width: 18.75%;
}
.manhattan .m-b.m-size-x-16 {
  width: 20%;
}
.manhattan .m-b.m-size-x-17 {
  width: 21.25%;
}
.manhattan .m-b.m-size-x-18 {
  width: 22.5%;
}
.manhattan .m-b.m-size-x-19 {
  width: 23.75%;
}
.manhattan .m-b.m-size-x-20 {
  width: 25%;
}
.manhattan .m-b.m-offset-x-1 {
  left: 1.25%;
}
.manhattan .m-b.m-offset-x-2 {
  left: 2.5%;
}
.manhattan .m-b.m-offset-x-3 {
  left: 3.75%;
}
.manhattan .m-b.m-offset-x-4 {
  left: 5%;
}
.manhattan .m-b.m-offset-x-5 {
  left: 6.25%;
}
.manhattan .m-b.m-offset-x-6 {
  left: 7.5%;
}
.manhattan .m-b.m-offset-x-7 {
  left: 8.75%;
}
.manhattan .m-b.m-offset-x-8 {
  left: 10%;
}
.manhattan .m-b.m-offset-x-9 {
  left: 11.25%;
}
.manhattan .m-b.m-offset-x-10 {
  left: 12.5%;
}
.manhattan .m-b.m-offset-x-11 {
  left: 13.75%;
}
.manhattan .m-b.m-offset-x-12 {
  left: 15%;
}
.manhattan .m-b.m-offset-x-13 {
  left: 16.25%;
}
.manhattan .m-b.m-offset-x-14 {
  left: 17.5%;
}
.manhattan .m-b.m-offset-x-15 {
  left: 18.75%;
}
.manhattan .m-b.m-offset-x-16 {
  left: 20%;
}
.manhattan .m-b.m-offset-x-17 {
  left: 21.25%;
}
.manhattan .m-b.m-offset-x-18 {
  left: 22.5%;
}
.manhattan .m-b.m-offset-x-19 {
  left: 23.75%;
}
.manhattan .m-b.m-offset-x-20 {
  left: 25%;
}
.manhattan .m-b.m-offset-x-21 {
  left: 26.25%;
}
.manhattan .m-b.m-offset-x-22 {
  left: 27.5%;
}
.manhattan .m-b.m-offset-x-23 {
  left: 28.75%;
}
.manhattan .m-b.m-offset-x-24 {
  left: 30%;
}
.manhattan .m-b.m-offset-x-25 {
  left: 31.25%;
}
.manhattan .m-b.m-offset-x-26 {
  left: 32.5%;
}
.manhattan .m-b.m-offset-x-27 {
  left: 33.75%;
}
.manhattan .m-b.m-offset-x-28 {
  left: 35%;
}
.manhattan .m-b.m-offset-x-29 {
  left: 36.25%;
}
.manhattan .m-b.m-offset-x-30 {
  left: 37.5%;
}
.manhattan .m-b.m-offset-x-31 {
  left: 38.75%;
}
.manhattan .m-b.m-offset-x-32 {
  left: 40%;
}
.manhattan .m-b.m-offset-x-33 {
  left: 41.25%;
}
.manhattan .m-b.m-offset-x-34 {
  left: 42.5%;
}
.manhattan .m-b.m-offset-x-35 {
  left: 43.75%;
}
.manhattan .m-b.m-offset-x-36 {
  left: 45%;
}
.manhattan .m-b.m-offset-x-37 {
  left: 46.25%;
}
.manhattan .m-b.m-offset-x-38 {
  left: 47.5%;
}
.manhattan .m-b.m-offset-x-39 {
  left: 48.75%;
}
.manhattan .m-b.m-offset-x-40 {
  left: 50%;
}
.manhattan .m-b.m-offset-x-41 {
  left: 51.25%;
}
.manhattan .m-b.m-offset-x-42 {
  left: 52.5%;
}
.manhattan .m-b.m-offset-x-43 {
  left: 53.75%;
}
.manhattan .m-b.m-offset-x-44 {
  left: 55%;
}
.manhattan .m-b.m-offset-x-45 {
  left: 56.25%;
}
.manhattan .m-b.m-offset-x-46 {
  left: 57.5%;
}
.manhattan .m-b.m-offset-x-47 {
  left: 58.75%;
}
.manhattan .m-b.m-offset-x-48 {
  left: 60%;
}
.manhattan .m-b.m-offset-x-49 {
  left: 61.25%;
}
.manhattan .m-b.m-offset-x-50 {
  left: 62.5%;
}
.manhattan .m-b.m-offset-x-51 {
  left: 63.75%;
}
.manhattan .m-b.m-offset-x-52 {
  left: 65%;
}
.manhattan .m-b.m-offset-x-53 {
  left: 66.25%;
}
.manhattan .m-b.m-offset-x-54 {
  left: 67.5%;
}
.manhattan .m-b.m-offset-x-55 {
  left: 68.75%;
}
.manhattan .m-b.m-offset-x-56 {
  left: 70%;
}
.manhattan .m-b.m-offset-x-57 {
  left: 71.25%;
}
.manhattan .m-b.m-offset-x-58 {
  left: 72.5%;
}
.manhattan .m-b.m-offset-x-59 {
  left: 73.75%;
}
.manhattan .m-b.m-offset-x-60 {
  left: 75%;
}
.manhattan .m-b.m-offset-x-61 {
  left: 76.25%;
}
.manhattan .m-b.m-offset-x-62 {
  left: 77.5%;
}
.manhattan .m-b.m-offset-x-63 {
  left: 78.75%;
}
.manhattan .m-b.m-offset-x-64 {
  left: 80%;
}
.manhattan .m-b.m-offset-x-65 {
  left: 81.25%;
}
.manhattan .m-b.m-offset-x-66 {
  left: 82.5%;
}
.manhattan .m-b.m-offset-x-67 {
  left: 83.75%;
}
.manhattan .m-b.m-offset-x-68 {
  left: 85%;
}
.manhattan .m-b.m-offset-x-69 {
  left: 86.25%;
}
.manhattan .m-b.m-offset-x-70 {
  left: 87.5%;
}
.manhattan .m-b.m-offset-x-71 {
  left: 88.75%;
}
.manhattan .m-b.m-offset-x-72 {
  left: 90%;
}
.manhattan .m-b.m-offset-x-73 {
  left: 91.25%;
}
.manhattan .m-b.m-offset-x-74 {
  left: 92.5%;
}
.manhattan .m-b.m-offset-x-75 {
  left: 93.75%;
}
.manhattan .m-b.m-offset-x-76 {
  left: 95%;
}
.manhattan .m-b.m-offset-x-77 {
  left: 96.25%;
}
.manhattan .m-b.m-offset-x-78 {
  left: 97.5%;
}
.manhattan .m-b.m-offset-x-79 {
  left: 98.75%;
}
.manhattan .m-b.m-offset-x-80 {
  left: 100%;
}
.manhattan .m-b.m-size-y-1 {
  height: 5%;
}
.manhattan .m-b.m-size-y-2 {
  height: 10%;
}
.manhattan .m-b.m-size-y-3 {
  height: 15%;
}
.manhattan .m-b.m-size-y-4 {
  height: 20%;
}
.manhattan .m-b.m-size-y-5 {
  height: 25%;
}
.manhattan .m-b.m-size-y-6 {
  height: 30%;
}
.manhattan .m-b.m-size-y-7 {
  height: 35%;
}
.manhattan .m-b.m-size-y-8 {
  height: 40%;
}
.manhattan .m-b.m-size-y-9 {
  height: 45%;
}
.manhattan .m-b.m-size-y-10 {
  height: 50%;
}
.manhattan .m-b.m-size-y-11 {
  height: 55%;
}
.manhattan .m-b.m-size-y-12 {
  height: 60%;
}
.manhattan .m-b.m-size-y-13 {
  height: 65%;
}
.manhattan .m-b.m-size-y-14 {
  height: 70%;
}
.manhattan .m-b.m-size-y-15 {
  height: 75%;
}
.manhattan .m-b.m-size-y-16 {
  height: 80%;
}
.manhattan .m-b.m-size-y-17 {
  height: 85%;
}
.manhattan .m-b.m-size-y-18 {
  height: 90%;
}
.manhattan .m-b.m-size-y-19 {
  height: 95%;
}
.manhattan .m-b.m-size-y-20 {
  height: 100%;
}
