@keyframes runningRight {
  0% {
    background-position: -100px 0
  }
  100% {
    background-position: -300px 0
  }
}

@keyframes runningLeft {
  0% {
    background-position: -100px -100px
  }
  100% {
    background-position: -300px -100px
  }
}

.player {
  height: 85px;
  width: 100px;

  position: fixed;
  bottom: 200px;
  left: calc(50vw - 50px);

  background-image: url('../img/panacik_skoda.png');
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-size: 900px 200px;

  &.standing-right {
    background-position: 0 0;
  }

  &.standing-left {
    background-position: 0 -100px;
  }

  &.running-right {
    animation: runningRight .3s steps(2) infinite running;
  }

  &.running-left {
    animation: runningLeft .3s steps(2) infinite running;
  }

  &.jumping-right {
    background-position: -600px 0;
  }

  &.jumping-left {
    background-position: -600px -100px;
  }

  &.falling-right {
    background-position: -700px 0;
  }

  &.falling-left {
    background-position: -700px -100px;
  }

  &.winning-right {
    background-position: -800px 0;
  }

  &.winning-left {
    background-position: -800px -100px;
  }

}
